@model Table

<div class="center">
	Стол @Model.NumberTable<br>
	Игрок X - @Model.NamesPlayers[0]<br>
	Игрок O - @Model.NamesPlayers[1]<br>
	Сейчас ходит Игрок - @Model.MotionPlayerName <br>
	Прошло - @Model.NumberFilledCells шагов от старта<br>
	@await Html.PartialAsync("Field",@Model.GameField)
	<form method="get" class="center" asp-area="" asp-controller="Home">
		<button name="TableNumber" value=@Model.NumberTable asp-action="StartGame">Зайти в игру</button>
	</form>
</div>